* {
    box-sizing: border-box;
    margin: 0;
  }

@font-face {
    font-family: "Bello";
    src: url("fonts/bello-script.ttf") format("truetype");
  }

@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/proxima-nova-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url("fonts/proxima-nova-light.ttf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

:root {
    --clr-blue: #4F88EF;
    --clr-white: #FFFFFF;
    --fs-logo: 1.625rem;
    --fs-500: 1.5rem;
}

header {
    display: flex;
    align-items: center;
    padding:0 1.875rem;
    justify-content: space-between;
    background-color: var(--clr-blue);
    height: 4.375rem;
    
}

.logo {
    font-family: Bello;
    color: var(--clr-white);
    font-size: var(--fs-logo);
}

#main-nav {
    position: absolute;
    inset: 0;
    padding-top: 7rem;
    background-color: var(--clr-blue);
    z-index: -1;
    transform: translateX(100%);
    transition: all .3s ease-in-out;

}

#main-nav[data-visible="true"] {
    transform: translateX(0%);
  }

.menu-items {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    text-align: center;
    font-family: Proxima Nova;
    list-style-type: none;
    padding: 0;
    font-weight: lighter;
    font-size: 1.5rem;
    color: var(--clr-white);
}

.menu-item{
text-decoration: none;
color: var(--clr-white);
}

.menu-item:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

[aria-current="true"] {
    text-decoration: underline;
    text-underline-offset: 8px;
}


/* Burger Menu */

.mob-nav-toggle {
    display: flex;
    cursor: pointer;
    width: 18px;
    height: 12px;
    justify-content: center;
    align-items: center;
}
.menu-btn__burger {
    width: 18px;
    height: 1.5px;
    background: var(--clr-white);
    border-radius: 5px;
    transition: all .3s ease-in-out;
   
  }

  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 1.5px;
    background: var(--clr-white);
    border-radius: 5px;
    transition: all .3s ease-in-out;
  }

  .menu-btn__burger::before {
    transform: translateY(-5px);
  }

  .menu-btn__burger::after {
    transform: translateY(5px);
  }

  /* close menu */

  .mob-nav-toggle.open .menu-btn__burger {
    background: transparent;
    transform: translateX(-50px);
  }

  .mob-nav-toggle.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(36px, -36px);
  }

  .mob-nav-toggle.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(36px, 36px);
  }

  @media (min-width: 60em) {
    .mob-nav-toggle {
        display: none;
    }
  }
